body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    background-color: white;
    border: 1px solid white;
}
nav ul{
    padding: 0;
    margin-left: 10rem;
}
nav ul li:hover a{
    color: #CBB777;
}
nav .icon{
    margin-left: 2rem;
}
.back {
    background-image: url(../img/Glow.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
   
    
}
/* .category{
    margin-top: 5rem;
    width: 100%;
}
.category h6{
    letter-spacing: 3px;
}
.category .row div{
    width: 15rem;
    height: 15rem;
} */
/* .category .row img{
    background-color: lightgrey;
    border-radius: 50%;
    padding: 1rem;
} */
.sells{
    margin-top: 10rem;
}
.sells .main .slide{
    width: 20rem;
    height: 30rem;
    background-image: url(../img/slide.png);
    background-position: center;
    background-size: cover;
    border-radius: 5%;
    opacity: 80%;
}
.sells .main h3{
    margin-top: 5rem;
    margin-left: 2rem;
    width: 10rem;
}
.sells .main button{
    margin-top: 5rem;
    margin-left: 2rem ;
    
}
.sells h6:active{
    color: green;
}
.sells .main .card img{
   margin-top: 2rem;
}
.sells .main .card{
    position: relative;
}
.sells .main .card .mini{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3BB77E;
    color: white;
    padding: 10px;
    border-radius: 30px 0px;
}
.sells .main .card .mini2{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #67BCEE;
    color: white;
    padding: 10px 25px;
    border-radius: 30px 0px;
}
.sells .main .card .mini3{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F59758;
    color: white;
    padding: 10px 20px;
    border-radius: 30px 0px;
}
.sells .main .card .mini4{
    position: absolute;
    top: 0;
    left: 0;
    background-color:#F74B81;
    color: white;
    padding: 10px 20px;
    border-radius: 30px 0px;
}
.sells .main .card .arrow{
    position: absolute;
    left: 1rem;
    top: 10rem;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 50%;
    color: gray;
}


.dishes .ico .iconR{
    background-color: #F53E32;
    color: white;
}
.dishes .heart{
    border-radius: 0px 14px 0px 30px;
}
.deals h3{
    color: #253D4E;
}
.deals .row .price{
   bottom: 100px;
  width: 90%;
  left: 1rem;
}
.deals .row .price h6{
    color:#253D4E ;
}
.deal-card img {
    max-height: 200px;
    object-fit: cover;
  }

.why-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #f39c12;
}


@media only screen and (max-width:992px){
    nav ul{
        padding: 0;
        margin-left: 0rem;
    }    
}
@media only screen and (max-width:992px){
    .stay .service{
        margin-bottom: 2rem;
    }  
}
